<h1>Recipe</h1>
<div style="border: 2px dotted">
    <h2>{{recipe.0.title}}</h2>
    <a href='/author/{{recipe.0.author.user_backend.id}}'>
        <h5>by. {{recipe.0.author.name}}</h4>
    </a>
    <h3>{{recipe.0.description}}</h3>
    <h4>Required time: {{recipe.0.time_required}}</h3>
        <h5>Instructions: {{recipe.0.instructions}}
    </h4>
</div>
<b>Chef's Name: </b
    ><a href="/author/{{ item.author.id }}">{{ item.author }}</a>
    {%endfor%}
  </li>
  <br>
  {% if user_can_edit %}
  <form action="/addedrecipe/{{recipes.0.id}}">
    <button type="submit">edit recipe</button>
  </form>
  {% endif %}
  {% if is_logged_in %}
  <form action="/favorite/{{recipes.0.id}}">
    <button type="submit">{{ fav_unfav }}</button>
  </form>
  {% endif %}
  <br />
</ul>
<br />
<br />
<a href="/">Home</a>